.title{
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

input{
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table, th,td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  padding-top: 2px;
}

h1{
  font-size: 24px;
  font-style: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.containertable{
  max-height: 1000px;
}

.centerone {
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  overflow-x: hidden;
}

.locationcounts{
  margin-left: auto;
  margin-right: auto;
}

.addLocation{
  margin-left: auto;
  margin-right: auto;
}

.statuscounts{
  margin-left: auto;
  margin-right: auto;
}

div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.column {
  float: right;
  width: 33.33
}

.back{
  float: left;
  padding-left: 50px;
}

.nav{
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
}

.navButton3{
  float: center;
  width: 20%;
}

.navButton2{
  float: right;
  width: 20%;
}

.navButton1{
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
