<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027650287013-bnpqf956ufvefiq46hiv5o10fv2eu07n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027650287013-bnpqf956ufvefiq46hiv5o10fv2eu07n</string>
	<key>API_KEY</key>
	<string>AIzaSyBf4Lxgx7E0fcRx2whYqtx_9T2SCx3BRNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1027650287013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stonehill.choose2reuse</string>
	<key>PROJECT_ID</key>
	<string>choose2reuse-7d502</string>
	<key>STORAGE_BUCKET</key>
	<string>choose2reuse-7d502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027650287013:ios:54e64ceb2e961e8b65e44c</string>
</dict>
</plist>